.example-container {
  position: relative;
  padding: 5px;
}

.example-form {
  min-width: 150px;
  max-width: 500px;
  width: 100%;
}

.example-full-width {
  width: 100%;
}

.example-full-width:nth-last-child(0) {
  margin-bottom: 10px;
}

.button-row {
  margin: 10px 0;
}

.mat-flat-button {
  margin: 5px;
}

.body {
  background-image: url("../../../../assets/image/background.jpg");
  height: 100vh;
  background-size: cover;
  background-repeat: inherit;
  font-size: 18px;
}
table tbody tr:nth-child(odd) {
  background-color: #333333;
}
