/*body{*/
/*  color: #fff028;*/
/*  font-family: Averta;*/
/*  font-size: 18px;*/
/*}*/
/*.order-detail{*/
/*  background-image: url("src/assets/image/background.jpg");*/

/*}*/
h3{
  color: #fff028;
  font-family: Averta;
  position: relative;
  bottom: -23px;
}


