<nav *ngIf="isLoggedIn" style="background-color: green" class="navbar navbar-expand-lg navbar-dark">
  <a class="navbar-brand font-weight-bold text-success ml-5" [routerLink]="'/'">
    <img style="max-height: 50px" class="img-fluid arb-icon" src="assets/image/logo.PNG">
  </a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent1"
          aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse ml-3" id="navbarSupportedContent1">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link text-white font-weight-bold" [routerLink]="'/news/list'">TIN TỨC</a>
      </li>
      <li class="nav-item active">
        <a class="nav-link text-white font-weight-bold" [routerLink]="'/create-contract'">CẦM ĐỒ</a>
      </li>
      <li class="nav-item">
        <a class="nav-link text-white font-weight-bold" [routerLink]="'/create-liquidation-contract'">THANH LÝ</a>
      </li>
      <li class="nav-item">
        <a class="nav-link text-white font-weight-bold " [routerLink]="'/payment-contract'">TRẢ ĐỒ</a>
      </li>
      <li class="nav-item">
        <a class="nav-link text-white font-weight-bold" [routerLink]="'/information-store/history-store'">THÔNG TIN CỬA
          HÀNG</a>
      </li>

      <li class="nav-item">
        <a class="nav-link text-white font-weight-bold" [routerLink]="'/information'">THÔNG TIN CÁ NHÂN</a>
      </li>
      <li class="nav-item dropdown " style="background-color: green">
        <a class="nav-link dropdown-toggle text-white font-weight-bold" href="#" id="navbardrop" data-toggle="dropdown">
          CHỨC NĂNG QUẢN LÝ
        </a>
        <div class="dropdown-menu" style="background-color: green">
          <a class="nav-link text-white font-weight-bold" [routerLink]="'/customer/list'">QUẢN LÝ KHÁCH HÀNG</a>
          <a class="nav-link text-white font-weight-bold" *ngIf="roles.includes('ROLE_ADMIN')"
             [routerLink]="'/employee/list'">QUẢN LÝ NHÂN VIÊN</a>
        </div>
      </li>
<!--      <li class="nav-item" *ngIf="roles.includes('ROLE_ADMIN')">-->
<!--        <a class="nav-link text-white font-weight-bold" [routerLink]="'/employee/list'">QUẢN LÝ NHÂN VIÊN</a>-->
<!--      </li>-->

    </ul>

    <ul class="nav navbar ml-auto">
      <li style="border-radius: 5px" class="nav-item dropdown bg-warning">
        <a style="border-radius: 10px" class="nav-link dropdown-toggle text-white" id="navbarDropdown"
           role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          {{username}}
        </a>
        <div class="dropdown-menu bg-warning" aria-labelledby="navbarDropdown">
          <a class="dropdown-item text-white" (click)="logout()">Đăng xuất</a>
        </div>
      </li>
    </ul>
  </div>
</nav>

<div class="sticky-top" *ngIf="!isLoggedIn">
  <nav class="navbar navbar-expand-lg navbar-light navbar-dark navbar-1">
    <a class="navbar-brand font-weight-bold text-success ml-5" [routerLink]="'/'">
      <img style="max-height: 50px" class="img-fluid arb-icon" src="assets/image/logo.PNG">
    </a>

    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse ml-5" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a style="font-size: large" class="nav-link text-white font-weight-bold" [routerLink]="'/news/list'">TIN
            TỨC</a>
        </li>
      </ul>
    </div>

    <ul class="navbar-nav ml-auto">
      <li class="nav-item slogan" style="border-right: 1px solid white">
        <a class="nav-link text-white">
          Dịch vụ cầm đồ Đà Nẵng - Uy tín- Chuyên nghiệp
        </a>
      </li>

      <li class="nav-item mx-2 hotline" style="border-right: 1px solid white">
        <a class="nav-link">
          <img class="img-fluid w-100 arb-icon icon-phone" src="https://www.movi.vn/images/icon/call.png"
               alt="Movi Image">
          <span class="medium16-white text-white">Hotline (miễn phí): 18006969</span>
        </a>
      </li>
      <li class="nav-item mx-2 signin">
        <a class="btn btn-warning nav-link text-white" routerLink="login" role="button">
          Đăng nhập
        </a>
      </li>
    </ul>
  </nav>
</div>
