<!--create new employee-->
<div
  style="background-image: url('assets/image/bg.jpg');background-size: cover;background-repeat: no-repeat;height: 100%">
  <div class="container py-5" style="border-radius: 5px">
    <div style="padding: 15px 10%; background: rgba(0, 0, 0, 0.5);">
      <h2 style="text-align: center;color: #FFC312; font-family: Averta">Add New Employee</h2>
      <hr>
      <form [formGroup]="employeeForm" (ngSubmit)="createEmployee()">
        <div class="row mt-3">
          <div class="col-6">
            <label for="id" class="fontFamily">Employee ID</label>
            <span style="color: red">(*)</span>
            <input type="text" class="form-control" id="id" formControlName="code" placeholder="Employee ID"
                   (click)="resetMsgCode()">
            <div class="fontError mt-1"
                 *ngIf="employeeForm.controls.code.hasError('required') &&
                 employeeForm.controls.code.touched">Please input employee id.
            </div>
            <div class="fontError mt-1"
                 *ngIf="employeeForm.controls.code.hasError('pattern') &&
                 employeeForm.controls.code.touched">Please input right format EMP-XXXX, X is digit.
            </div>
            <div class="fontError">{{msgCode}}</div>
          </div>
          <div class="col-6">
            <label for="name" class="fontFamily">Full Name</label>
            <span style="color: red">(*)</span>
            <input type="text" class="form-control" id="name" formControlName="fullName" placeholder="Full Name">
            <div class="fontError mt-1"
                 *ngIf="employeeForm.controls.fullName.hasError('required') &&
                 employeeForm.controls.fullName.touched">Please input full name.
            </div>
            <div class="fontError mt-1"
                 *ngIf="employeeForm.controls.fullName.hasError('minlength') &&
                 employeeForm.controls.fullName.touched">Please input full name, min 6 characters.
            </div>
            <div class="fontError mt-1"
                 *ngIf="employeeForm.controls.fullName.hasError('maxlength') &&
                 employeeForm.controls.fullName.touched">Please input full name, max 50 characters.
            </div>
          </div>
        </div>

        <div class="row mt-3">
          <div class="col-6">
            <label for="position" class="fontFamily">Position</label>
            <span style="color: red">(*)</span>
            <select class="form-control" style="font-size: 18px" id="position" formControlName="position">
              <option selected value="">Choose position</option>
              <option *ngFor="let p of positionList" [ngValue]="p">{{p.name}}</option>
            </select>
            <div class="fontError mt-1"
                 *ngIf="employeeForm.controls.position.hasError('required') &&
                 employeeForm.controls.position.touched">Please choose position.
            </div>
          </div>
          <div class="col-6">
            <label for="gender" class="fontFamily">Gender</label>
            <span style="color: red">(*)</span>
            <select class="form-control" style="font-size: 18px" id="gender" formControlName="gender">
              <option selected value="">Choose gender</option>
              <option *ngFor="let g of genderList" [ngValue]="g">{{g.name}}</option>
            </select>
            <div class="fontError mt-1"
                 *ngIf="employeeForm.controls.gender.hasError('required') &&
                 employeeForm.controls.gender.touched">Please input gender.
            </div>
          </div>
        </div>

        <div class="row mt-3">
          <div class="col-6">
            <label for="dateOfBirth" class="fontFamily">Date Of Birth</label>
            <span style="color: red">(*)</span>
            <input type="date" class="form-control" id="dateOfBirth" formControlName="dateOfBirth"
                   (click)="resetMsgDateOfBirth()">
            <span class="fontError mt-1"
                  *ngIf="employeeForm.controls.dateOfBirth.hasError('required') &&
                 employeeForm.controls.dateOfBirth.touched">Please choose date of birth, </span>
            <span class="fontError mt-1"
                  *ngIf="employeeForm.controls.dateOfBirth.hasError('invalidAge') &&
                 employeeForm.controls.dateOfBirth.touched">Age must be not less 18.</span>
            <span class="fontError mt-1"
                  *ngIf="employeeForm.controls.dateOfBirth.hasError('invalidDateOfBirth') &&
                 employeeForm.controls.dateOfBirth.touched">Date of birth not valid, please choose input again.</span>
            <span class="fontError">{{msgDateOfBirth}}</span>
          </div>
          <div class="col-6">
            <label for="startWorkDate" class="fontFamily">Start Work Date</label>
            <span style="color: red">(*)</span>
            <input type="date" class="form-control" id="startWorkDate" formControlName="startWorkDate"
                   (click)="resetMsgStartWorkDate()">
            <span class="fontError mt-1"
                  *ngIf="employeeForm.controls.startWorkDate.hasError('required') &&
                 employeeForm.controls.startWorkDate.touched">Please choose start work date, </span>
            <span class="fontError mt-1"
                  *ngIf="employeeForm.controls.startWorkDate.hasError('inValidDate') &&
                 employeeForm.controls.startWorkDate.touched">Start work date not past date.</span>
            <span class="fontError">{{msgStartWorkDate}}</span>
          </div>
        </div>

        <div class="row mt-3">
          <div class="col-6">
            <label for="phone" class="fontFamily">Phone</label>
            <span style="color: red">(*)</span>
            <input type="text" class="form-control" id="phone" formControlName="phone" placeholder="Phone">
            <div class="fontError mt-1"
                 *ngIf="employeeForm.controls.phone.hasError('required') &&
                 employeeForm.controls.phone.touched">Please input phone.
            </div>
            <div class="fontError mt-1"
                 *ngIf="employeeForm.controls.phone.hasError('pattern') &&
                 employeeForm.controls.phone.touched">Please input right phone format +84XXXXXXXXX, X is from 9 to 10
              digit.
            </div>
          </div>
          <div class="col-6">
            <label for="email" class="fontFamily">Email</label>
            <span style="color: red">(*)</span>
            <input type="text" class="form-control" id="email" formControlName="email" placeholder="Email"
                   (click)="resetMsgEmail()">
            <div class="fontError mt-1"
                 *ngIf="employeeForm.controls.email.hasError('required') &&
                 employeeForm.controls.email.touched">Please input email.
            </div>
            <div class="fontError mt-1"
                 *ngIf="employeeForm.controls.email.hasError('email') &&
                 employeeForm.controls.email.touched">Please input right email format, a@b.c .
            </div>
            <div class="fontError mt-1"
                 *ngIf="employeeForm.controls.email.hasError('maxlength') &&
                 employeeForm.controls.email.touched">Please input email, max 50 characters.
            </div>
            <div class="fontError">{{msgEmail}}</div>
          </div>
        </div>

        <div formGroupName="address">
          <div class="mt-3">
            <label class="fontFamily">Address</label>
            <span style="color: red">(*)</span>
            <div class="row">
              <div class="col-4">
                <select (change)="getProvince()" class="form-control" style="font-size: 18px" formControlName="province">
                  <option selected value="">Select a province</option>
                  <option *ngFor="let p of provinceList" [ngValue]="p">{{p.name}}</option>
                </select>
                <div class="fontError mt-1"
                     *ngIf="employeeForm.controls.address.get('province').hasError('required') &&
                     employeeForm.controls.address.touched">Please choose province.
                </div>
              </div>
              <div class="col-4">
                <select (change)="getDistrict()" class="form-control" style="font-size: 18px" formControlName="district">
                  <option selected value="">Select a district</option>
                  <option *ngFor="let d of districtList" [ngValue]="d">{{d.name}}</option>
                </select>
                <div class="fontError mt-1"
                     *ngIf="employeeForm.controls.address.get('district').hasError('required') &&
                     employeeForm.controls.address.touched">Please choose district.
                </div>
              </div>
              <div class="col-4">
                <select class="form-control" style="font-size: 18px" formControlName="commune">
                  <option selected value="">Select a commune</option>
                  <option *ngFor="let c of communeList" [ngValue]="c">{{c.name}}</option>
                </select>
                <div class="fontError mt-1"
                     *ngIf="employeeForm.controls.address.get('commune').hasError('required') &&
                     employeeForm.controls.address.touched">Please choose commune.
                </div>
              </div>
            </div>
          </div>
        </div>

        <div formGroupName="account">
          <div class="row mt-3">
            <div class="col-6">
              <label for="password" class="fontFamily">New Password</label>
              <span style="color: red">(*)</span>
              <input #newPassword type="password" class="form-control" id="password"
                     (change)="checkPassword(newPassword.value, confirmPassword.value)" formControlName="password"
                     placeholder="New Password">
              <div class="fontError mt-1"
                   *ngIf="employeeForm.controls.account.get('password').hasError('required') &&
                 employeeForm.controls.account.touched">Please input new password.
              </div>
              <div class="fontError mt-1"
                   *ngIf="employeeForm.controls.account.get('password').hasError('pattern') &&
   employeeForm.controls.account.touched">Please input min 6 character, include uppercase, lowercase, numbers and
                special characters.
              </div>
              <div class="fontError">{{msgPassword}}</div>
            </div>
            <div class="col-6">
              <label for="confirmPassword" class="fontFamily">Confirm Password</label>
              <span style="color: red">(*)</span>
              <input #confirmPassword type="password" class="form-control" id="confirmPassword"
                     (change)="checkPassword(newPassword.value, confirmPassword.value)"
                     formControlName="confirmPassword" placeholder="Confirm Password">
              <div class="fontError" *ngIf="msgConfirmPass">New password not match with confirm password.</div>
            </div>
          </div>
        </div>

        <div class="row mt-3">
          <div class="col-6">
            <label for="level" class="fontFamily">Level</label>
            <span style="color: red">(*)</span>
            <input type="number" class="form-control" id="level" formControlName="level" placeholder="Level">
            <div class="fontError mt-1"
                 *ngIf="employeeForm.controls.level.hasError('invalidLevel') &&
                 employeeForm.controls.level.touched">Please input level > 0.
            </div>
          </div>
          <div class="col-6">
            <label for="yearOfExp" class="fontFamily">Year Of Experiences</label>
            <span style="color: red">(*)</span>
            <input type="number" class="form-control" id="yearOfExp" formControlName="yearOfExp"
                   placeholder="Year Of Experiences">
            <div class="fontError mt-1"
                 *ngIf="employeeForm.controls.yearOfExp.hasError('required') &&
                 employeeForm.controls.yearOfExp.touched">Please input year of experiences >= 0 and < 100.
            </div>
            <div class="fontError mt-1"
                 *ngIf="employeeForm.controls.yearOfExp.hasError('invalidYearOfExp') &&
                 employeeForm.controls.yearOfExp.touched">Please input year of experiences >= 0 and < 100.
            </div>
          </div>
        </div>

        <div class="mt-3">
          <label class="fontFamily">Image</label>
          <div class="form-group">
            <input type="file" class="form-control-file text-danger" (change)="showPreview($event)">
            <div class="fontError">{{msgImage}}</div>
          </div>
        </div>
        <div class="row">
          <div class="col-9"></div>
          <div class="col-3">
            <img *ngIf="isImage" style="float: right; border: 1px solid; width: 200px;height: 200px" src="{{image}}">
          </div>
        </div>
        <hr>
        <div class="text-center">
          <a class="btn btn-warning fontButton" (click)="backEmployeeList()">
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                 class="bi bi-arrow-return-left" viewBox="0 0 16 16">
              <path fill-rule="evenodd"
                    d="M14.5 1.5a.5.5 0 0 1 .5.5v4.8a2.5 2.5 0 0 1-2.5 2.5H2.707l3.347 3.346a.5.5 0 0 1-.708.708l-4.2-4.2a.5.5 0 0 1 0-.708l4-4a.5.5 0 1 1 .708.708L2.707 8.3H12.5A1.5 1.5 0 0 0 14 6.8V2a.5.5 0 0 1 .5-.5z"/>
            </svg>
            Back
          </a>
          <a class="btn btn-secondary mx-3 fontButton" (click)="resetCreateForm()">
            <svg xmlns="http://www.w3.org/2000/svg" width="19" height="19" fill="currentColor"
                 class="bi bi-arrow-repeat" viewBox="0 0 16 16">
              <path
                d="M11.534 7h3.932a.25.25 0 0 1 .192.41l-1.966 2.36a.25.25 0 0 1-.384 0l-1.966-2.36a.25.25 0 0 1 .192-.41zm-11 2h3.932a.25.25 0 0 0 .192-.41L2.692 6.23a.25.25 0 0 0-.384 0L.342 8.59A.25.25 0 0 0 .534 9z"/>
              <path fill-rule="evenodd"
                    d="M8 3c-1.552 0-2.94.707-3.857 1.818a.5.5 0 1 1-.771-.636A6.002 6.002 0 0 1 13.917 7H12.9A5.002 5.002 0 0 0 8 3zM3.1 9a5.002 5.002 0 0 0 8.757 2.182.5.5 0 1 1 .771.636A6.002 6.002 0 0 1 2.083 9H3.1z"/>
            </svg>
            Reset
          </a>
          <button [disabled]="employeeForm.invalid" type="submit" class="btn btn-warning fontButton">
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                 class="bibi-pencil-square" viewBox="0 0 16 16">
              <path
                d="M15.502 1.94a.5.5 0 0 1 0 .706L14.459 3.69l-2-2L13.502.646a.5.5 0 0 1 .707 0l1.293 1.293zm-1.752.456-2-2L4.939 9.21a.5.5 0 0 0-.121.196l-.805 2.414a.25.25 0 0 0 .316.316l2.414-.805a.5.50 0 0.196-.12l6.813-6.814z"/>
              <path fill-rule="evenodd"
                    d="M1 13.5A1.5 1.5 0 0 0 2.5 15h11a1.5 1.5 0 0 0 1.5-1.5v-6a.5.5 0 0 0-1 0v6a.5.5 0 01-.5.5h-11a.5.5 0 0 1-.5-.5v-11a.5.5 0 0 1 .5-.5H9a.5.5 0 0 0 0-1H2.5A1.5 1.5 0 0 0 12.5v11z"/>
            </svg>
            Create
          </button>
        </div>
      </form>
    </div>
  </div>
</div>
